@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
    width: 20px;
    cursor: col-resize;
}

.no-select {
    user-select: none;
}

@media print {
  #markdown-content {
    font-size: 8px; /* Adjust as needed */
  }
  h1, h2, h3, p {
    page-break-inside: avoid; /* Prevent breaking headings and paragraphs */
  }
}